@font-face {
    font-family: Poppins-Bold;
    src: url("./Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Italic;
    src: url("./Poppins/Poppins-Italic.ttf");
}

@font-face {
    font-family: Poppins-BoldItalic;
    src: url("./Poppins/Poppins-BoldItalic.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

#box {
    border-radius: 24px;
    border-bottom-right-radius: 200px;
    padding: 56px;
    background-color: white;
}

#input-row {
    display: flex;
    gap: 32px;
}

.number-input div {
    margin-bottom: 8px;
    font-family: Poppins-Bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    /*letter-spacing: 25%;*/
    color: #716F6F;
}

.number-input input {
    -moz-appearance: textfield;
    width: 160px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    font-size: 32px;
    line-height: 48px;
    border: solid 1px #DCDCDC;
    font-family: Poppins-Bold;
    /*invisible up down*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input input:focus {
    outline: none;
}

#line-button {
    display: flex;
    align-items: center;
}

#line {
    width: 632px;
    height: 1px;
    background-color: #DCDCDC;
    z-index: 0;
}

#button {
    border-radius: 48px;
    background-color: #854DFF;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button:active {
    background-color: #151515;
}

.output {
    display: flex;
    gap: 8px;
}

.output div {
    font-family: Poppins-BoldItalic;
    font-size: 104px;
    line-height: 110%;
    /*letter-spacing: -2%;*/
}

.output-value {
    color: #854DFF;
}

.required-error input {
    border-color: #FF5959;
}

.required-error div {
    color: #FF5959;
}

.number-input a {
    display: none;
    font-family: Poppins-Italic;
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;

}

.required-error .re {
    color: #FF5959;
    display: block;
}

.invalid-error .ie {
    color: #FF5959;
    display: block;
}

@media (max-width: 640px) {
    #box {
        padding: 48px 24px 48px 24px;
        border-radius: 24px;
        border-bottom-right-radius: 100px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    #input-row {
        gap: 16px;
    }
    .number-input div {
        margin-bottom: 4px;
        font-family: Poppins-Bold;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
        /*letter-spacing: 25%;*/
        color: #716F6F;
    }
    .number-input input {
        width: 87.67px;
        padding: 12px 16px 12px 16px;
        border-radius: 8px;
        font-size: 20px;
        line-height: 30px;
        border: solid 1px #DCDCDC;
        font-family: Poppins-Bold;
        /*invisible up down*/
    }

    #line-button {
        height: 64px;
        position: relative;
    }
    #button {
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
    }
    #line {
        width: 100%;
    }
    .output div {
        font-size: 56px;
    }
    .number-input a {
        width: 87.67px;
    }
}